.input {
    width: 100%;
    border: 1px solid var(--color-border);
    background: transparent;
    padding: 0.75rem 1rem;
    border-radius: 9999px;
    font-size: 0.95rem;
    color: var(--color-text);
    outline: none;
    transition: border 0.2s;

    &:focus {
        border-color: var(--color-primary);
    }
}